---
import Layout from '../layouts/Layout.astro';

const pageTitle = "About me"
const pageDesc = "This is a about page"
---

<Layout title={pageTitle} desc={pageDesc}>
  <h1>{pageTitle}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde autem, magnam accusantium modi itaque aliquam nihil voluptatum assumenda incidunt amet sapiente ad temporibus, ipsum delectus quam aperiam voluptatibus vel. Dolore.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quaerat blanditiis a doloremque libero eligendi harum nulla inventore. Ea pariatur eaque eum, odio unde vitae aperiam doloremque nihil nulla itaque?</p>
</Layout>