---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Home"
const pageDesc = "This is a home page"
---

<Layout title={pageTitle} desc={pageDesc}>
	<h1>{pageTitle}</h1>
	<h2>Wellcome to my website</h2>
</Layout>
